#logo{
}

img{
    width: 199px;
    height: 43px;
}

body{
    background-color:#edeff5;
}
#total-orders{
    background-color:#4d78e3;
}
#orders-delivered{
    background-color:#4cb4c7;
}
#orders-out-for-delivery{
    background-color:#4dafe3;
}
#orders-pending{
    background-color:#7CD1C0;
}